.blob {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 1;

  height: 25vmax;
  aspect-ratio: 1;
  border-radius: 50%;

  background: linear-gradient(to right, #78ffd6, #237a57);
  opacity: 0.8;
  pointer-events: none;
}
