.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;

  position: relative;
  z-index: 500;

  min-height: 50vh;
  margin: 0 2rem;
  padding: 5vw;

  border-radius: 35px;
  background-color: var(--color-secondary-dark);
}

.contact > h2,
h3 {
  margin: 0;
}

.contact > h3 {
  font-size: var(--step-5);
}
