.contact {
  display: flex;
  justify-content: space-between;

  position: relative;
  z-index: 500;

  min-height: 50vh;
  margin: 0 2rem;
  padding: 5vw;

  border-radius: 35px;
  background-color: var(--color-secondary-dark);
}

.contactEmail {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contactEmail > h2 {
  margin: 0;
}

.contactEmailSend {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contactEmailSend > h3 {
  margin: 0;
  font-size: var(--step-5);
}

.contactImg {
  border-radius: 100%;
  overflow: hidden;
}

.sendIcon {
  fill: #237a57;
  width: clamp(50px, 8vw, 90px);
  height: clamp(50px, 8vw, 90px);
}
