@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-display: swap;
  font-weight: 300 400 500 600 700;
  src: url("/fonts/Oswald-VariableFont_wght.ttf") format("truetype");
}

:root {
  --color-primary-dark: #1d1d1f;
  --color-secondary-dark: #f2f7fb;
  --color-terciary-dark: #090808;
  --color-terciary-dark-transparent: #09080894;
  --color-text-primary-dark: #ffffff;
  --color-text-secondary-dark: #1a120b;

  --font-primary: "Oswald";

  --step-5: clamp(2.33rem, calc(1.49rem + 4.24vw), 4.77rem);
  --step-2: clamp(1.62rem, calc(1.26rem + 1.78vw), 2.93rem);
  --step-1: clamp(1.35rem, calc(1.1rem + 1.24vw), 2.03rem);
  --step-0: clamp(1.13rem, calc(1.13rem + 0vw), 1.13rem);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  position: relative;

  background-color: var(--color-primary-dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
small,
a {
  font-family: var(--font-primary);
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-2);
}

h3 {
  font-size: var(--step-1);
}

p {
  font-size: var(--step-0);
}

a {
  color: inherit;
  text-decoration: none;
}

.blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(9vmax);
}

.socialIcons {
  height: 40px;
  width: 40px;

  fill: var(--color-secondary-dark);
}

.light {
  transform: translateY(-100%);
}

.block2 {
  transform: translateY(-100%);
}
.block3 {
  transform: translateY(-30%);
}

.block4 {
  transform: translateX(-20px);
}
