.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;

  position: relative;
  z-index: 500;

  height: 100vh;
  width: 100%;
}

.kicker-wrapper {
  overflow: hidden;
}

.kicker {
  margin: 0;
  padding-top: 2rem;

  line-height: 1;
  color: var(--color-text-primary-dark);
}

.kicker > span {
  display: inline-block;
}
