.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 500;

  min-height: 90vh;
  margin: 0 2rem;
  padding-block: 4vw;

  border-radius: 35px;
  background-color: var(--color-secondary-dark);
}

.servicesTitle {
  margin-bottom: 4vw;
  color: var(--color-text-secondary-dark);
  text-align: center;
}

.servicesTitle > h2 {
  margin: 0;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  gap: 6vw;
}

.card {
  display: flex;
  flex-direction: row-reverse;
  gap: 4rem;
}

.card:nth-child(2) {
  flex-direction: row;
}

.cardText {
  width: 400px;
}

.cardImg {
  width: 350px;
  height: 450px;

  border-radius: 15px;
  background-color: var(--color-terciary-dark);

  overflow: hidden;
}

/* .card:hover {
  transform: translateY(-3px);
}

.card:after {
  position: absolute;
  left: 1px;
  top: 65%;
  content: "";
  z-index: 600;

  height: 100px;
  width: 1.5px;
  transition: top 600ms ease, opacity 600ms ease;

  opacity: 0;
  background: linear-gradient(transparent, #56ab2f, transparent);
}

.card:hover:after {
  top: 15%;
  opacity: 1;
} */
